nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;

 }

.time {
    color: black;
    padding-left: 150px;
    font-size: 30px;
    
}

.sec a{
   text-decoration: none;
   color: black;
   font-size: 20px;
   cursor: pointer;

}

.sec {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 10%;
    padding-top: 20px;
    padding-left: 50px;
}

hr {
   margin-left: 10%;
   margin-right: 7%;
   margin-top: 20px;
}

.container {  
   display: flex;
   align-items: flex-start;
   margin: 40px;
   border-radius: 19px;
   padding-left: 150px;  
    
}

.half img {
   padding-left: 125px;
   

}
.zero img {
   width: 50px;
   padding-right: 100px;
   
}

.one img {
   width: 450px;
   border-radius: 20px;
   height: 500px;

   
}

.detail {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-left: 60px;

   
}


.price {
   font-size: 20px;
   font-weight: bolder;
   padding-top: 20px;
}


.new {
   font-size: 13px;
   padding-left: 30px;
}

.old {
   text-decoration: line-through;
   font-size: 15px;
}
.kk {
   padding-top: 20px;
}

.what {
   margin-left: 40px;
   color: white;
   background-color: black;

}

.kg {
    display: flex;
    align-items: center;
    width: 35%;
    height: 8vh;
    color: black;
    margin-top: 60px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    border-left: 30px;
    cursor: pointer;  
}

.minus {
   display: flex;
   padding-right: 25px;
   padding-top: 10px;
   padding-left: 30px;
   
}
h4 {
   display: flex;
   margin-bottom: 10px;
   margin-right: 40px;
}

.plus {
   display: flex;
   margin-bottom: -10px;
   margin-right: 20px;
}



.thumbnails{
   display: flex;
   gap: 5px;
   
}
.thumbnails img {
   height: 90px;
   width: 100px;
   border-radius: 11px;
   cursor: pointer;
   margin-left: 6px;
   margin-top: 15px; 
}

.five{
   display: flex;
   flex-direction: row;  
   background-color: #fe8206;
   width: 250px;
   height: 50px;
   border: none;
   border-radius: 10px;
   margin-left: 30px;
   cursor: pointer;
   transition: all o.3s ease;  
   
}

.five img {
   height: 20px;
   margin-top: 15px;
   margin-left: 70px;  
       
}

h5 {
   margin-left: 15px;
}

.desk {
   display: none;
}



@media screen and (max-width: 425px) {
   .sec  {
      display: none;
   }
   .half img{
      display: block;
      padding-left: 100px;
   }
   .zero img {
      display: block;
   }
   .desk {
      display: block;
      padding-top: 30px;
      padding-left: 200px;  
   }

   hr {
      display: none;
   }
   
   .thumbnails{
      display: none;
   }
   .detail {
      display: flex;
      flex-direction: column;
      padding-top: 600px;
      justify-content: center;
      
   
   }

   .time {
      padding-right: 50px;
   }

   .name {
      display: flex;
      flex-direction: column;
      padding-right: 60px;
   }
   
   


   

}
   


   







